<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="container"> 
     <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#" >
        <img src="./assets/logo.png" alt="logo" width="101" height="65"
         style="margin-right: 20px;" /> 
  
  </a>
  
      <!-- <span>G</span>eM</a> -->
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#">Home</a></li>
      <li><a href="#about">About-Us</a></li>
      <li><a href="#contact">Contact</a></li>
      <li><a href="#services">Services</a> </li>
    
    </ul>
  </div><!-- /.navbar-collapse -->
</div>
</nav>



<!-------------------------end header-->
<div class="dj1">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
    
      
      <div class="carousel-inner">
        <div class="item active">
          <img src="assets/d1.jpg" alt="Los Angeles">
          <div class="carousel-caption">
                <h1>Scale your Business multifolds, Sell product to Govt.</h1>    
              </div>             
        </div>
    
        <div class="item">
          <img src="assets/d2.jpg" alt="Chicago">  
          <div class="carousel-caption">
                <h1>Increase turnover, with higher Margins</h1>   
              </div>
        </div>
    
        <div class="item">
          <img src="assets/d3.jpg" alt="New York">
          
          <div class="carousel-caption">
                <h1>Sell across India</h1>   
              </div>
        </div>
      </div>
    
    
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>
  </div>

  <!-----------------------------------about-us------------------------------->

  <div class="dj2" id="about">
    <h1>Who are we?</h1>
  <div class="container"> 
    <div class="row">
      <div class="col-md-6">
        <img src="assets/d4.jpg">
      </div>
      <div class = "col-md-1">
      </div>
      <div class="col-md-5 ">
        <br>
        <p>We as an organization, do so much more than the usual out-of-the-box. 
          We have a holistic approach towards doing business in general. 
        </p>
        <br>
        <p> We help create brands.
          We help existing brands exponentially enhance their digital presence. 
        </p>
        <br>
        <p>We understand the brand’s 
          specific necessities and provide tailored solutions that help them connect with the desired audience.</p>
      </div>
    <!-- <div class="dj3">
    <div class="col-md-6">
        <img src="assets/d5.jpg">
      </div>
      <div class="col-md-6">
        <p>The process of registering company on GeM platform requires extensive documentation and
            verifications. Further the products/ services which are offered for sale to Govt. has to meet certain
           quality benchmarks, which includes certifications like<b> ISI, AGMARK, BEE</b> etc. and the products
           should have a standard design and dimension which is prevalent in market.</p>
      </div>
    </div> -->
    </div>                          
  </div>
  </div>
  
  
<div class="dj4" id="services">
  <h1>Our Services</h1>
  <div class="dj5">
   <div class="container">
 <div class="row">
   <div class="col-md-4 col-sm-6">
       <i class="fas fa-chart-line"></i>
     <h4>Digital Marketing</h4>
   </div>
   <div class="col-md-4 col-sm-6">
     <i class="fas fa-graduation-cap"></i>\
     <h4>Online Coaching Classes
       <br>
       (India and OverSeas)
       <!-- <br>
       India and Overseas -->
     </h4>
   </div>
   <div class="col-md-4 col-sm-6">
     <i class="fab fa-youtube"></i>
     <h4>Rebellion Voice
<br>
(Web Portal and Youtube Channel)

     </h4>
   </div>
   
 </div> 
 </div>
</div>
</div>
<!-----------------------------our services-------------->

 
<!---------------------------------contact-us------------------>
<div class="dj7" id="contact">
  <h1>Contact-Us</h1>
  <div class="container">
    <div class="row">
              <div class="col-md-6">
                <div class="p3">
                  <h3>Address:</h3>
                  <p>
                      C-5 Brahma Park Phase II,
                       Kaspate Vasti Wakad Rd, Vishnu Dev Nagar, Wakad, Pimpri-Chinchwad, Pune, Maharashtra 411057                    </p>
                </div>
                  <div class="p4">
                  <h3>Phone:</h3>
                  <p>+91-9851527400</p>
                  <p>+91-7774051876</p>
              </div>
              <div class="p5">
                  <h3>Email:</h3>
                  <p><a href="#"> ranjan.dwiwedy@gmail.com</a></p>
           </div>
        </div>
          <div class="col-md-6">
              
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d15125.895786523773!2d73.76578691416934!3d18.597740572551604!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1560061307790!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      
      
          </div>
     </div>
  </div>
</div>
<!---------------------------footer-------------------->
<div class="dj8">
  <div class="container">
     
              <div class="col-md-9">
                   <a href="#about">About Us</a> 
                   <a href="#services">Services</a> 
                   <a href="#contact">Contact Us</a> 
                  <!-- <a routerLink="/services" routerLinkActive="active">Services</a> 
                  <a routerLink="/contact" routerLinkActive="active">Contact Us</a>
                  <p>© 2019 Gem. All Rights Reserved | Design by<a href="#">:Dhananjay Kumar</a></p> -->

              </div>
              <!-- <div class="col-md-3"></div> -->
              <div class="col-md-3">
                  <a href="https://www.facebook.com/?stype=lo&jlou=AffayeI3C47Ced-kUGJov4_sNDpzBqIhdMf1CjVG53B2Asim5dEgNdNnm9CaHfMPb-QvuVMszZJFYBQMEMS1k_WNX3L6CNOxGmfVrrgALmTezw&smuh=30804&lh=Ac9PqK-ikX6Vm_lv"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fab fa-google-plus-g"></i></a>
                  <a href="https://twitter.com/GSTSuvidha"><i class="fab fa-twitter"></i></a>
               </div>
            </div>
       </div>



  


